Hey,

This is a reminder to your donation to feature #{@donation.feature.name}, which we hope will be implemented in #{@donation.feature.app.name}.

Spread the word!

Sincerely,

-
Featurette Team

This app is brought to you by Cave Johnson Foundation.
"I'll be honest - we're throwing science at the wall here to see what sticks."
