- content_for :scripts do
  :plain
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

#feature-list
  %h2 Últimas features
  %p
    %img.user-avatar{:src => "/assets/pedro-avatar.png" }
    <strong>Nome da feature</strong> sugerido por <strong>Usuário</strong>
    %img.app-icon{:src => "/assets/sparkbox-icon.png" }

#app-list
  %h2 Apps
  - @apps.each do |app|
    %p
      = link_to app.name, app
