@import "partials/vars";
@import "compass/css3/border-radius";
@import "blueprint";

$feature-suggestion-height: 6em;

#app-list {
  @include column(12);
  @include last;
}

#home-content {
  font-size: 1.5em;
}

.login-button {
  width: 150px;
  height: 22px;
  background: url("facebook_signin.png");
  &:hover {
    background-position-y: -24px;
  }
  &:active {
    background-position-y: -48px;
  }
  a#facebook-connect {
    color: transparent;
  }
}
