@import "partials/vars";
@import "partials/base";
@import "blueprint/reset";
@import "blueprint";
@import "blueprint/scaffolding";

@include blueprint;

body {
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
}

.wrap {
    @include container;
}

form {
  @include blueprint-form;
  @include blueprint-scaffolding;
}

hr { 
    @include colspacer;
}

header {
    background-color: $header-background-color;
    padding: 1.5em 0;
    @include append-bottom;

    #logo {
        @include column(20);
        h1 { margin: 0 }
        font-family: BallparkWeiner;
        font-size: 1.5em;
        a {
            color: $header-color;
            text-decoration: none;
        }
    }

    #masthead {
        @include column(4);
        @include last;
    }
}

footer {
    @include column(24);
    text-align: center;
}

@font-face {
    font-family: 'BallparkWeiner';
    src: url('/assets/ballpark_weiner-webfont.eot');
    src: url('/assets/ballpark_weiner-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/ballpark_weiner-webfont.woff') format('woff'),
         url('/assets/ballpark_weiner-webfont.ttf') format('truetype'),
         url('/assets/ballpark_weiner-webfont.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}
