Hey,

%br

This is a reminder to your donation to feature #{link_to @donation.feature.name, [@donation.feature.app, @donation.feature]}, which we hope will be implemented in #{link_to @donation.feature.app.name, @donation.feature.app}.

%br
Spread the word!
%br
%br
Sincerely,
%br
%br
= "-"
%br
Featurette Team
%br
%br
This app is brought to you by Cave Johnson Foundation.
%br
"I'll be honest - we're throwing science at the wall here to see what sticks."
